.appContainer {
  border: 2px solid red;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.appImage {
  border: 2px solid rgb(241, 41, 241);
}

.appTest {
  border: 2px solid violet;
  height: 300px;
  width: 500px;
}

.appButtonsContainer {
  border: 2px solid aquamarine;
  text-align: end;
  /* float: right; */
}

.appButton {
  border: none;
  background-color: #215184;
  color: white;
  font-family: 'Brandon Grotesque';
  margin-left: 10px;
  padding: 5px 10px;
}
.appButton:hover{
  cursor: pointer;
}
.appButtonSortIcon{
  width: 10px;
  margin-left: 2px;

}

.appContent {
  border: 2px solid burlywood;
}
