.appContainer {
  border: 2px solid red;
  /* text-align: center; */
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.appImage {
  border: 2px solid violet;
}

.appTest {
  border: 2px solid violet;
  height: 300px;
  width: 300px;
}