.navbarLogoContainer {
  display: flex;
  align-items: center;
}

.navbarLogoImage {
  width: 170px;
  height: 30px ;
}

.navbarLogoText {
    display: inline-block;
    margin: 0;
    font-size: 23px;
  }
